table {
  border-collapse: collapse;
}

table th,
table td {
  width: 120px;
  padding: 10px;
  border: 2px solid var(--textColor);
}

table thead {
  background-color: var(--brandColor);
}

.transactionTable {
  margin: 0 auto;
}

tr:hover,
tr:focus {
  cursor: pointer;
  background-color: rgb(203, 203, 215);
  transition: all 0.1s ease;
}
